{% load i18n wagtailadmin_tags %}
{% trans "Submit for review" as title_str %}
{% include "wagtailadmin/shared/header.html" with title=title_str icon='doc-empty-inverse' %}

<div class="nice-padding">
    <form action="{% url 'wagtail_review_admin:create_review' %}" method="POST">
        {% csrf_token %}
        <ul class="fields">
            {% for field in form %}
                {% if field.is_hidden %}
                    {{ field }}
                {% else %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                {% endif %}
            {% endfor %}

            <li class="required">
                <div class="field char_field text_input">
                    <label for="id_create_review-reviewer_autocomplete">Reviewers:</label>
                    <div class="field-content">
                        {% for err in reviewer_formset.non_form_errors %}
                            <p class="error-message"><span>{{ err }}</span></p>
                        {% endfor %}
                        <div class="input">
                            <input type="text" id="id_create_review-reviewer_autocomplete" class="reviewer-autocomplete" data-autocomplete-url="{% url 'wagtail_review_admin:autocomplete_users' %}">
                            <button type="button" class="button text-replace icon icon-plus" id="id_create_review-reviewer_autocomplete_add" class="reviewer-add">Add reviewer</button>
                        </div>
                        <p class="help">Enter a user name or email address</p>

                        {{ reviewer_formset.management_form }}
                        <ul class="wagtailreview-reviewer-list" id="id_create_review-reviewer_form_container">
                        </ul>
                    </div>
                </div>
                <script type="text/django-form-template" id="id_{{ reviewer_formset.prefix }}-EMPTY_FORM_TEMPLATE">
                    {% escapescript %}
                        <li>
                            <span id="id_create_review_assignees-__prefix__-label"></span> <a href="#" class="icon icon-cross" id="id_create_review_reviewers-__prefix__-delete_link"><a/>
                            {{ reviewer_formset.empty_form }}
                        </li>
                    {% endescapescript %}
                </script>
            </li>

            <li><input type="submit" value="{% trans 'Submit review request' %}" class="button" /></li>
        </ul>
    </form>
</div>
