{% extends "wagtailadmin/base.html" %}
{% load i18n static %}

{% block titletag %}{{ view.page_title }} {{ view.get_page_subtitle }}{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'wagtail_review/css/audit_trail.css' %}">
{% endblock %}

{% block content %}

    {% include "wagtailadmin/shared/header.html" with title=view.page_title subtitle=page.get_admin_display_title icon=view.header_icon %}

    <div class="nice-padding">
        {% for review, review_url in reviews %}
            <div class="review">
                <h3>
                    {% blocktrans with submitter=review.submitted_by.get_full_name datetime=review.submitted_at|date:"H:i j M Y" %}Review requested by {{ submitter }} at {{ datetime }}{% endblocktrans %} - <strong>{{ review.get_status_display }}</strong>
                </h3>
                <table class="listing">
                    <thead>
                        <tr>
                            <th>{% trans "Reviewer" %}</th>
                            <th>{% trans "Response" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Comments" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for response in review.responses.all %}
                            <tr>
                                <td>{{ response.submitted_by.get_name }}</td>
                                <td>{{ response.get_status_display }}</td>
                                <td>{{ response.submitted_at|date:"H:i j M Y" }}</td>
                                <td>{{ response.comment }}</td>
                            </tr>
                        {% endfor %}
                        {% for reviewer in review.get_assignees_without_response %}
                            <tr>
                                <td>{{ reviewer.get_name }}</td>
                                <td>{% trans "Awaiting response" %}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <ul class="actions">
                    <li>
                        <a class="button button-secondary button-small" href="{{ review_url }}">{% trans "View page" %}</a>
                    </li>
                    <li>
                        <a class="button button-secondary button-small" href="{% url 'wagtailadmin_pages:edit' review.page_revision.page.id %}">{% trans "Edit page" %}</a>
                    </li>
                    {% if review.is_closed %}
                        <li>
                            <form action="{% url 'wagtail_review_admin:reopen_review' review_id=review.id %}" method="POST">
                                {% csrf_token %}
                                <button class="button button-secondary button-small">{% trans "Reopen" %}</button>
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <form action="{% url 'wagtail_review_admin:close_review' review_id=review.id %}" method="POST">
                                {% csrf_token %}
                                <button class="button button-secondary button-small">{% trans "Close" %}</button>
                            </form>
                        </li>
                        {% if page_permissions.can_publish %}
                            <li>
                                <form action="{% url 'wagtail_review_admin:close_and_publish' review_id=review.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="button button-secondary button-small">{% trans "Close and publish" %}</button>
                                </form>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
