{% extends "wagtailadmin/generic/index.html" %}
{% load i18n wagtailreview_admin_tags %}

{% block listing %}
    <div class="nice-padding">
        <div id="reviews-list">
            <table class="listing">
                <thead>
                    <tr>
                        <th class="page">
                            {% trans "Page" %}
                            {% if ordering == "page" %}
                                <a href="" class="icon icon-arrow-down-after teal"></a>
                            {% else %}
                                <a href="?ordering=page" class="icon icon-arrow-down-after"></a>
                            {% endif %}
                        </th>
                        <th>{% trans "Last review requested at" %}</th>
                        <th class="status">{% trans "Status" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page in pages %}
                        <tr>
                            <td class="page title">
                                <h2>
                                    <a href="{% url 'wagtail_review_admin:audit_trail' page.id %}">{{ page.get_admin_display_title }}</a>
                                </h2>
                            </td>
                            <td>
                                {{ page.last_review_requested_at }}
                            </td>
                            <td class="status">
                                {% page_has_open_review page as is_open %}
                                {% if is_open %}{% trans "Open" %}{% else %}{% trans "Closed" %}{% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
