{% extends 'wagtailadmin/notifications/base.html' %}

{% load i18n %}

{% block greeting %}
{% if reviewer %}{% blocktrans with name=reviewer.get_name|safe %}Hello {{ name }},{% endblocktrans %}{% endif %}
{% endblock %}

{% block content %}
    <p>{% blocktrans with task=task.name title=page.get_admin_display_title %}The page "{{ title }}" has been submitted for review in moderation stage "{{ task }}".{% endblocktrans %}</p>

    <p>
        {% trans "You can review the page here:" %} <a href="{{ review_url }}">{{ review_url }}</a><br/>
        {% trans "You can edit the page here:" %} <a href="{{ settings.BASE_URL }}{% url 'wagtailadmin_pages:edit' page.id %}">{{ settings.BASE_URL }}{% url 'wagtailadmin_pages:edit' page.id %}</a>
    </p>
{% endblock %}

{% block preferences %}
{% if user %}
    {{ block.super }}
{% endif %}
{% endblock %}