.comments {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #333;
    color: white;
    box-sizing: border-box;
    width: 300px;

    &__show-hide-resolved {
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        line-height: 40px;
        font-size: 1.2em;
        background: #eee;
        padding-left: 10px;

        input[type='checkbox'] {
            margin-left: 10px;
        }
    }

    ul {
        overflow-y: auto;
        max-height: 600px;
    }
}

// Override Wagtail
.tab-nav li.comment {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
}

.comment {
    display: block;
    transition: top 0.5s ease 0s, right 0.5s ease 0s, height 0.5s ease 0s;
    font-size: 0.9em;
    box-sizing: border-box;
    padding-left: 13px !important;
    padding-right: 13px !important;
    padding-bottom: 10px !important;

    &:not(:last-child) {
        border-bottom: 1px solid #5b5b5b;
    }

    &__text {
        font-weight: bold;
        margin-top: 26px;
        margin-bottom: 0px;
        font-size: 1.1em;
    }

    &__info {
        color: #d5d5d5;
    }

    &__resolved {
        float: right;
        white-space: nowrap;

        label {
            padding-top: 0;
            width: initial;
            float: none;
            color: white;
            font-weight: normal;
        }

        input {
            margin-left: 10px;
        }
    }
}

// Has to be separate so it overrides Wagtail
a.comment__view-on-frontend {
    display: inline-block;
    font-size: 0.9em;
    border-top: none;
    line-height: initial;
    margin-top: 0;
    background-color: #007d7e;
    border-radius: 3px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 22px;
    padding-right: 22px;
}
