@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

.wagtailreview-respond {
    bottom: 35px;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    right: 35px;
    z-index: 9999;
}

.wagtailreview-respond .js-show-submit {
    align-items: center;
    background-color: #fff;
    border-radius: 3px;
    border: 0;
    box-shadow: 0 0 8px 0 rgba(0,125,126,0.43);
    color: #007d7e;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 600;
    justify-content: space-between;
    line-height: 18px;
    outline: 0;
    padding: 8px 6px 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.wagtailreview-respond .js-show-submit .wagtail-icon {
    color: #000;
    font-size: 32px;
    height: 32px;
    margin-left: 6px;
    width: 32px;
}

.wagtailreview-respond form {
    position: absolute;
    top: 60px;
    right: 10px;
    background: #fff;
    border: 1px solid rgba(27,31,35,0.15);
    box-shadow: 0 3px 12px rgba(27,31,35,0.15);
 }

.wagtailreview-respond fieldset {
    border-color: #eee;
    margin-top: 20px;
    padding: 5px 10px 20px 10px;
}

.wagtailreview-respond legend {
    display: none;
}

.wagtailreview-respond input {
    float: left;
}

.wagtailreview-respond label {
    float: left;
    font-weight: bold;
}

.wagtailreview-respond label span {
    color: #999;
    display: block;
    font-weight: normal;
}

.wagtailreview-respond textarea {
    border-color: #999;
    border-radius: 4px;
}

.wagtailreview-respond .o-form__group--radios label {
    padding-left: 10px;
}

.wagtailreview-respond .label-comment {
    float: none;
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
}

.wagtailreview-respond .o-form__group {
    clear: left;
    padding: 15px;
}

.wagtailreview-respond input[type="submit"],
.wagtailreview-respond .button-review-closed {
    background: #43b2b0;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-size: inherit;
    padding: 12px 16px;
}

.wagtailreview-respond input[type="submit"]:hover {
    cursor: pointer;
    background: #5a898a;
}

.wagtailreview-respond .js-icon-up:after {
    content: " \25b2";
}
